@* 
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>
<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Appointment Date -->
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" type="datetime-local" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>

            <!-- Status -->
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <!-- Customer -->
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>

            <!-- Stylist -->
            <div class="form-group">
                <label asp-for="StylistId" class="control-label"></label>
                <select asp-for="StylistId" class="form-control" asp-items="ViewBag.StylistId"></select>
                <span asp-validation-for="StylistId" class="text-danger"></span>
            </div>

            <!-- Service -->
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>

            <!-- Cancel Date -->
            <div class="form-group">
                <label asp-for="CanceledAt" class="control-label"></label>
                <input asp-for="CanceledAt" class="form-control" type="datetime-local" />
                <span asp-validation-for="CanceledAt" class="text-danger"></span>
            </div>

            <!-- Submit Button -->
            <div class="form-group">
                <input type="submit" value="Create Appointment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Appointment List</a>
</div>


 *@