<!DOCTYPE html>
<html lang="en">

<body>
    <style>
        .btn:active {
            transform: scale(0.95); /* Hiệu ứng thu nhỏ nút khi nhấn */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .container {
            width: 80%;
            margin: 20px auto;
        }


        /* Hiệu ứng gợn sóng */
        .btn {
            position: relative;
            overflow: hidden; /* Ẩn gợn sóng ra ngoài nút */
        }

            .btn .ripple {
                position: absolute;
                width: 20px;
                height: 20px;
                background: rgba(255, 255, 255, 0.6);
                border-radius: 50%;
                transform: scale(0);
                animation: ripple-animation 0.6s linear;
            }
    </style>

    <section class="hero-wrap hero-wrap-2" style="background-image: url('../images/bg-1.jpg');" data-stellar-background-ratio="0.5">

        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <h2 class="mb-0 bread">Blog</h2>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-round-forward"></i></a></span> <span class="mr-2"><a href="blog.html">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-round-forward"></i></span></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ftco-animate">
                    <h2 class="mb-3">It is a long established fact a reader be distracted</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio laboriosam porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore perferendis, enim praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.</p>
                    <p>
                        <img src="images/work-6.jpg" alt="" class="img-fluid">
                    </p>
                    <p>Molestiae cupiditate inventore animi, maxime sapiente optio, illo est nemo veritatis repellat sunt doloribus nesciunt! Minima laborum magni reiciendis qui voluptate quisquam voluptatem soluta illo eum ullam incidunt rem assumenda eveniet eaque sequi deleniti tenetur dolore amet fugit perspiciatis ipsa, odit. Nesciunt dolor minima esse vero ut ea, repudiandae suscipit!</p>
                    <h2 class="mb-3 mt-5">Creative WordPress Themes</h2>
                    <p>Temporibus ad error suscipit exercitationem hic molestiae totam obcaecati rerum, eius aut, in. Exercitationem atque quidem tempora maiores ex architecto voluptatum aut officia doloremque. Error dolore voluptas, omnis molestias odio dignissimos culpa ex earum nisi consequatur quos odit quasi repellat qui officiis reiciendis incidunt hic non? Debitis commodi aut, adipisci.</p>
                    <p>
                        <img src="images/work-4.jpg" alt="" class="img-fluid">
                    </p>
                    <p>Quisquam esse aliquam fuga distinctio, quidem delectus veritatis reiciendis. Nihil explicabo quod, est eos ipsum. Unde aut non tenetur tempore, nisi culpa voluptate maiores officiis quis vel ab consectetur suscipit veritatis nulla quos quia aspernatur perferendis, libero sint. Error, velit, porro. Deserunt minus, quibusdam iste enim veniam, modi rem maiores.</p>  
                </div>

            </div> <!-- .col-md-8 -->
                

                <div class="sidebar-box bg-light ftco-animate">
                    <h3 class="heading-2">Recent Blog</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url('https://cdn-jngld.nitrocdn.com/PdMWviucTwcEYDgnLjwRxGZIpCJjrgOy/assets/images/optimized/rev-c033c4f/www.myhaircare.com.au/blog/wp-content/uploads/2024/08/Untitled-design-2024-07-22T134340.099.png');">
                        </a>

                        <div class="text">
                            <h3 class="heading-1"><a href="https://www.myhaircare.com.au/blog/post-colour-treatment/">Colour and chemical hair treatments can wreak havoc on your hair in the long run. They might enhance the beauty of your hair temporarily, but you need to think…</a></h3>
                            <div class="meta">
                                <div><a href="#">October 15, 2024</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 0</a></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url('https://cdn-jngld.nitrocdn.com/PdMWviucTwcEYDgnLjwRxGZIpCJjrgOy/assets/images/optimized/rev-c033c4f/www.myhaircare.com.au/blog/wp-content/uploads/2024/09/Untitled-design-2024-09-03T144450.738.png');">
                        </a>
                        <div class="text">
                            <h3 class="heading-1">
                                <a href="https://www.myhaircare.com.au/blog/maintain-platinum-hair/">
                                    The quest to maintain platinum hair at home is not easy. Find out what haircare practices and products to use to keep it vibrant and healthy.
                                </a>
                            </h3>
                            <div class="meta">
                                <div><a href="#">October 1, 2024</a></div>
                                <div><a href="#">Admin</a></div>
                                <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 0</a></div>
                            </div>
                        </div>
                    </div>




                    <div class="sidebar-box bg-light ftco-animate">
                        <h3 class="heading-2">Paragraph</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                    </div>
                </div>

            </div>
        </div>
    </section> <!-- .section -->




</body>
</html>